.avatar-champ {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
    width: 90px;
    position: absolute;
    top: -22px;
    right: -26px;
}

.avatar-rank {
    width: 90px;
    position: absolute;
    top: -22px;
    right: 65px;
}