.avatar-champ {
    border-radius: 4%;
    width: 90px;
    position: absolute;
    top: -22px;
    right: -26px;
}

.avatar-rank {
    width: 90px;
    position: absolute;
    top: -22px;
    right: 65px;
}