<div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">My card</h3>
          <img class="avatar-champ" *ngIf="cardData.mainchamp" src="https://ddragon.leagueoflegends.com/cdn/7.10.1/img/champion/{{ cardData.mainchamp }}.png">
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group">
              <label for="">Pseudonyme</label>
              <input [(ngModel)]="cardData.pseudo" name="pseudo" type="text" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label for="">Rank</label>
              <input [(ngModel)]="cardData.rank" name="rank" type="text" class="form-control rounded-0" required>
            </div>
            <div class="form-group">
              <label for="">Main champion</label>
              <select [(ngModel)]="cardData.mainchamp" name="mainchamp" type="text" class="form-control rounded-0" required>
                <option *ngFor="let champion of champions" [value]="champion.key">{{ champion.name }}</option>
              </select>
            </div>
            <div class="form-group">
                <label for="">Language</label>
                <input [(ngModel)]="cardData.language" name="language" type="text" class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                  <label for="">Ratio</label>
                  <input [(ngModel)]="cardData.ratio" name="ratio" type="text" class="form-control rounded-0" required>
                </div>
            <button (click)="postPlayerData()" *ngIf="!user.playercard" type="button" class="btn btn-success float-right">Create</button>
            <button (click)="modifyCard()" *ngIf="user.playercard" type="button" class="btn btn-primary float-right">Modify</button>
            <button (click)="deleteCard()" *ngIf="user.playercard" type="button" class="btn btn-danger float-left">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>

